body: {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#header-nav {
  padding: 0.5em;
  width: 100vw;
  background-color: #173753;
  height: 14vh;
  border-bottom: 0.3em solid rgb(69, 70, 70);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#breezi-logo {
  width: 16em;
  height: 5em;
}

#main-div {
  margin-top: 8em;
  width: 60vw;
  height: 60vh;
  background-color: rgb(0, 153, 191);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  font-size: 2em;
  font-family: sans-serif
}
